@charset "UTF-8";

:root {
    --cor_principal: #77B28C;
    --cor_secundaria: #BCE3C5;
    --cor_branco: #FAFAF5;
    --cor_branco2: #F2F9F4;
    --cor_preto: #333333;
    --cor_verde_escuro: #042A2B;
    --cor_destaque: #772E25;

    --sombra_verde_escuro: #042a2b67;

    --fonte_titulo_principal: "Quicksand", sans-serif;
    --fonte_titulo_secundario: "Poppins", sans-serif;
    --fonte_texto: "Nunito", "Work Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor_branco);  
}

section {
    padding: 40px 20px;
    margin-bottom: 20px;
}

h1 {
    font-family: var(--fonte_titulo_principal);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--cor_principal);
    margin-bottom: 40px;
}

h2 {
    font-family: var(--fonte_titulo_secundario);
    font-size: 1.3rem;
    font-weight: 500;
}

p, label {
    font-family: var(--fonte_texto);
    font-size: 1.175rem;
    font-weight: 400;
    text-align: justify;
    color: var(--cor_preto);
}

.destaque {
    font-weight: bold;
    color: var(--cor_principal);
}

.btn {
   --_btn_shadow_color: var(--btn_shadow_color, rgba(0, 0, 0, 0.305));

    background-color: var(--cor_principal);
    border-radius: 15px;
    padding: 0.3em 1.2em;
    box-shadow: 1px 1px 3px var(--_btn_shadow_color);

    font-size: 1.075rem;
    text-decoration: none;
    color: var(--cor_preto);

    transition: background-color 0.3s;
}

.btn:hover {
    cursor: pointer;
    font-weight: bold;
    box-shadow: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: black;
    opacity: 0.7;
}

.conteudo_overlay > * {
    position: relative;
    z-index: 1;
}