@import url(./base.css);

/* Hero Section */
.hero {
    background: url("../imgs/backgrounds/back1.jpg") center center no-repeat scroll;
    background-size: cover;

    position: relative;

    height: 100vh;
    height: 100svh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.hero img {
    display: block;
    margin: 40px auto;
    color: var(--cor_branco);
}

.hero h2 {
    color: var(--cor_branco);
    text-align: justify;
    margin-bottom: 30px;
}

.hero .btn {
    color: black;
}

.hero .btn:hover {
    background-color: var(--cor_destaque);
    color: white;
}

/* Section Conexão */
.conexao h1 {
    margin-bottom: 40px;
}

.conexao > .container_conex {
    display: grid;
    grid-template: repeat(4, auto) / auto;
    justify-content: center;
    align-content: center;
    row-gap: 20px;
}

.conex {
    padding: 10px;
    background-color: var(--cor_branco2);
    border: 2px solid var(--cor_principal);
    border-radius: 7px;
    box-shadow: 1px 1px 3px var(--sombra_verde_escuro);

    display: flex;
}

/* .conex .titulo {
    display: flex;
    align-items: center;

    color: var(--cor_principal);

    margin-bottom: 10px;
} */

.conex > i {
    margin-right: 10px;
    margin-top: 15px;
    font-size: 2.2rem;
    color: var(--cor_principal);
}

.conex h2 {
    font-size: 1.1rem;
    text-align: justify;
    color: var(--cor_principal);
    margin-bottom: 10px;
}

.conex p {
    font-size: 1.075rem;
    text-indent: 3px;
}