@import url(./base.css);

/* Hero Section */
.hero {
    background: url("../imgs/backgrounds/back1.jpg") center center no-repeat fixed;
    background-size: cover;

    position: relative;

    height: 100vh;
    height: 100svh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.hero img {
    display: block;
    margin: 40px auto;
    color: var(--cor_branco);
}

.hero h2 {
    color: var(--cor_branco);
    text-align: justify;
    margin-bottom: 30px;
}

.hero .btn {
    color: black;
}

.hero .btn:hover {
    background-color: var(--cor_destaque);
    color: white;
}

/* Section Conexão */
.conexao > .container_conex {
    display: grid;
    grid-template: repeat(4, auto) / auto;
    justify-content: center;
    align-content: center;
    row-gap: 20px;
}

.conex {
    padding: 10px;
    background-color: var(--cor_branco2);
    border: 2px solid var(--cor_principal);
    border-radius: 7px;
    box-shadow: 1px 1px 3px var(--sombra_verde_escuro);

    display: flex;
}

.conex > i {
    margin-right: 10px;
    margin-top: 15px;
    font-size: 2.2rem;
    color: var(--cor_principal);
}

.conex h2 {
    font-size: 1.1rem;
    text-align: justify;
    color: var(--cor_principal);
    margin-bottom: 10px;
}

.conex p {
    font-size: 1.075rem;
    text-indent: 3px;
}

/* Section Interesse */
section.interesse {
    background-color: var(--cor_secundaria);
    margin-bottom: 0;
    padding-bottom: 60px;
}

section.interesse > h1 {
    color: var(--cor_verde_escuro);
}

div.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.container_img, .conteudo {
    margin-bottom: 50px;
}

.container_img img {
    display: block;
    margin: auto;

    border-radius: 10px;
    box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.595);
}

.conteudo {
    width: 90%;
    margin-inline: auto;
}

.conteudo_item {
    display: flex;
    margin-bottom: 15px;
}

.conteudo_item > i {
    font-size: 1.1rem;
    margin-right: 5px;
    margin-top: 2px;
    color: var(--cor_verde_escuro);
}

.conteudo_item .conteudo_corpo h2 {
    margin-bottom: 3px;
    font-weight: 600;
    color: var(--cor_verde_escuro);
}

.conteudo_item .conteudo_corpo p {
    text-align: left;
    font-weight: 700;
    font-size: 1rem;
}

.conteudo_item .conteudo_corpo h2 > span {
    color: var(--cor_preto);
    font-weight: 400;
}

.container_conteudo .cta {
    text-align: center;
}

.container_conteudo .cta h2 {
    font-family: var(--fonte_titulo_principal);
    font-size: 1.475rem;
    font-weight: 600;
    color: var(--cor_verde_escuro);
}

.container_conteudo .cta p {
    font-weight: 600;
    font-size: 1.1rem;
    margin-block: 10px 20px;
}

.container_conteudo .cta a {
    background-color: var(--cor_destaque);
    color: var(--cor_branco);
}

.container_conteudo .cta a:hover {
    background-color: transparent;
    border: 2px solid var(--cor_verde_escuro);
    color: var(--cor_verde_escuro);
}

/* Section Depoimentos */
section.depoimentos {
    background: url("../imgs/backgrounds/back2.jpg") center center no-repeat fixed;
    background-size: cover;

    position: relative;
    margin-bottom: 0;
    padding-bottom: 60px;
}

.container_depoimentos {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 30px;
    justify-content: center;
}

.depoimento {
    background-color: var(--cor_branco);
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.344);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.depoimento img {
    border-radius: 50%;
    margin-bottom: 15px;
}

.depoimento_conteudo h3 {
    font-family: var(--fonte_titulo_secundario);
    font-weight: 500;
    font-size: 1.275rem;
    text-align: center;
    color: var(--cor_preto);
    margin-bottom: 10px;
}

.depoimento_conteudo p {
    font-size: 1.1rem;
}

/* Sessão depoimentos */
section.resultados {
    background-color: var(--cor_secundaria);
}

section.resultados > h1 {
    color: var(--cor_verde_escuro);
}

.container_img img {
    box-shadow: none;
}

section.resultados .conteudo_item :is(i, p) {
    color: var(--cor_preto);
}

section.resultados .conteudo_item .destaque {
    color: var(--cor_verde_escuro);
}

section.resultados .cta > h2 {
    margin-bottom: 20px;
}

/* Sessão CTA */
.sessao_cta > h1 {
    margin-bottom: 20px;
}

.sessao_cta > h2 {
    text-align: justify;
    margin-inline: auto;
    width: 90%;
    margin-bottom: 40px;
}

.sessao_cta .conteudo {
    width: 85%;
    margin-bottom: 20px;
}

.sessao_cta .conteudo_item {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.sessao_cta .conteudo_titulo {
    color: var(--cor_principal);

    display: flex;
    align-items: flex-start;
}

.sessao_cta .conteudo_titulo :is(.destaque, i) {
    color: var(--cor_verde_escuro);
}

.sessao_cta .conteudo_titulo h2 {
    text-align: left;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.sessao_cta .conteudo_titulo i {
    margin-right: 5px;
    margin-top: 3px;
    font-weight: bold;
}

.sessao_cta .conteudo_item p {
    font-size: 1.1rem;
}

.sessao_cta .conteudo_item p > i {
    color: var(--cor_principal);
    font-weight: bold;
}

form {
    border: 2px solid var(--cor_verde_escuro);
    border-radius: 7px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.316);
    padding: 20px 25px;
    width: 85%;
}

form .form_grupo {
    margin-bottom: 25px;
}

form label {
    display: block;
    margin-bottom: 7px;
}

form input:not(input[type="submit"]) {
    width: 100%;
    outline: none;
    border: 1px solid var(--cor_verde_escuro);
    background-color: var(--cor_branco2);
    border-radius: 7px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.278);
    padding: .3em;
    font-size: 0.9rem;
}

form input:not(input[type="submit"])::placeholder,
form input:not(input[type="submit"]):hover::placeholder,
form input:not(input[type="submit"]):focus::placeholder {
    color: var(--cor_preto);
}

form input:not(input[type="submit"]):hover,
form input:not(input[type="submit"]):focus {
    border-width: 2px;
    font-weight: bold;
    background-color: var(--cor_secundaria);
}

form input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.278), 
                        0 0 0 1000px var(--cor_secundaria) inset !important;
    -webkit-text-fill-color: var(--cor_preto) !important;
    border: none !important;
    transition: background-color 5000s ease-in-out 0s;
}

form input:hover:-webkit-autofill {
    border: 2px solid var(--cor_verde_escuro) !important;
}

form #form_enviar {
    display: block;
    margin: auto;
    
    font-size: 1rem;
    border: none;
    background-color: var(--cor_verde_escuro);
    color: white;
}

form #form_enviar:hover {
    background-color: var(--cor_principal);
    color: var(--cor_preto);
    font: bold;
}

/* Footer */
footer {
    background-color: var(--cor_secundaria);
    padding: 10px 20px;
}

footer p {
    text-align: center;
    font-size: 1.1rem;
}

footer a {
    text-decoration: none;
    color: var(--cor_preto);
}

footer a:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
